<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="Startsite :: header"></head>

<body class="container">
<div class = "container" th:fragment="navigateStudent">
<ul class="nav justify-content-center  " role="navigation">
     <li class="nav-item">
        <a class="nav-link active" href="/student/postfachEingang">Post</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/student/termineEinsicht">Termine</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/student/wechselantragSenden">Mentorwechsel</a>
    </li>
    <li class="nav-item">
    	<a class="nav-link active" href="/student/weiterleiten">Meine Akte</a>
    </li>
    <li class="nav-item">
       <a class="btn btn-success" href="/logout" role="button">Ausloggen</a>
    </li>
</ul> 
</div>







<div th:replace ="Startsite :: bootend"></div>
</body>

</html>