<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="Startsite :: header"></head>

<body class="container">
<div th:replace = "Student/studentStart :: navigateStudent"></div>

<table class="table table-striped table-dark">
  <thead class="thead-dark">
    <tr>
	  <th scope="col">Terminvorschläge</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="appointmentProp,iter : ${appointmentProposals}">
      <td>
        <a th:href="@{'/student/TerminvorschlaegeEinsehen/'+${appointmentProp.id}}" th:text="@{'Terminvorschlag '+${iter.index}}"></a>
      </td>
	</tr>
  </tbody>
</table>




<ul th:replace= "Startsite :: navigate"></ul>

<div th:replace ="Startsite :: bootend"></div>
</body>

</html>