<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="Startsite :: header"></head>

<body class="container">
<div th:replace = "Organizer/organizerStart :: navigateOrganizer"></div>
<form method = "post" th:object ="${message}">
<div class="form-group">
    <label for="FormControl">Wähle den Empfänger</label>
    <select class="form-control" th:name="receiverName" id="FormControl">
     <option th:each ="eintrag : ${moeglicheEmpfaenger}" th:text="@{${eintrag.mailAddress}+', '+${eintrag.prename}+' ,' +${eintrag.role}}"></option>
     </select>
     <div class="container">
     <label for="titleInput">Titel</label>
     <input type="text" class="form-control" th:field="*{title}" id="titleInput"/>
      <span th:errors="*{title}" class="alert alert-danger" role="alert"></span>
     </div>
     <div class="container">
     <label for="contentInput">Inhalt</label>
     <textarea type="text" class="form-control" th:field="*{content}" id="contentInput"></textarea>
      <span th:errors="*{content}" class="alert alert-danger" role="alert"></span>
     </div>
</div>
<input type ="submit" value="Absenden" class="btn btn-primary"/>
</form>


<a href="/organizer/postfachEingang" class="badge badge-primary">Posteingang</a>
<a href="/organizer/postfachAusgang" class="badge badge-primary">Postausgang</a>

<div th:replace ="Startsite :: bootend"></div>
</body>

</html>