<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="Startsite :: header"></head>

<body class="container">
<div th:replace = " Mentor/mentorStart :: navigateMentor"></div>
<div class="container">
  <h1 th:text="Gesprächsprotokoll"></h1>
  <p></p>
  <blockquote>
    <p th:text="${convLog.text}"></p>
    <footer>
     <small th:text="@{${mentor.prename}+' '+ ${mentor.surname}}"></small> 
    </footer>
  </blockquote>
</div>



<div class="alert alert-info" role="alert">
<a href="/mentor/termineEinsicht">Zurück zur TerminEinsicht</a>
</div>

<div th:replace ="Startsite :: bootend"></div>
</body>

</html>