<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="Startsite :: header"></head>

<body class="container">
<div th:replace = " Mentor/mentorStart :: navigateMentor"></div>
<a href="/mentor/Terminvorschlaege" class="badge badge-primary">neuer Termin</a>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Termine
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body" >
        
        
        <table class="table table-striped table-dark">
  <thead class="thead-dark">
    <tr>
	  <th scope="col">Student</th>
	  <th scope="col">Datum</th>
      <th scope="col">Status</th>
      <th scope="col">Gesprächsprotokoll</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="appointment : ${appointments}">
      <td th:text="@{${appointment.assignment.student.prename}+' '+${appointment.assignment.student.surname}}" ></td>
      <td th:if="${appointment.date.minute}" th:text="@{${appointment.date.dayOfMonth}+'.'+${appointment.date.monthValue}+'.'+${appointment.date.year}+' '+${appointment.date.hour}+':'+${appointment.date.minute}}"></td>
      <td th:unless="${appointment.date.minute}" th:text="@{${appointment.date.dayOfMonth}+'.'+${appointment.date.monthValue}+'.'+${appointment.date.year}+' '+${appointment.date.hour}+':'+'0'+${appointment.date.minute}}"></td>
      <td>
      <p th:if="${appointment.isCanceled() == true}" class="text-danger">Abgesagt!</p>
      <p th:if="${appointment.isCanceled() == false}" th:unless="${appointment.isInPast() == false}" class="text-primary">Stattgefunden</p>
      <a th:if="${appointment.isCanceled() == false}" th:unless="${appointment.isInPast() == true}" th:href="@{'/mentor/terminAbgesagt/'+${appointment.id}}" class="btn btn-danger" >Absagen</a>
      </td>
      <td>
      <p th:if="${appointment.isCanceled() == true}" class="text-danger">nicht Vorhanden</p>
      <p th:if="${appointment.isCanceled() == false and appointment.isInPast() == false}" th:unless="${conversationLog != null}"  class="text-danger">nicht Vorhanden</p>
      <a th:if="${appointment.conversationLog != null}" th:unless="${appointment.isInPast() == false}"  th:href="@{'/mentor/convLogDetail/'+${appointment.conversationLog.id}}" class="btn btn-primary" >Ansehen</a>
      <a th:if="${appointment.isInPast() == true}" th:unless="${appointment.conversationLog != null}" th:href="@{'/mentor/convLogNew/'+${appointment.id}}" class="btn btn-success" >Hinzufügen</a>
      </td>
    </tr>
  </tbody>
</table>
        
        
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ausstehende Terminvorschläge
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <table class="table table-striped table-dark">
  <thead class="thead-dark">
    <tr>
	  <th scope="col">Terminvorschläge</th>
	  <th scope="col">Datum 1</th>
	  <th scope="col">Datum 2</th>
	  <th scope="col">Datum 3</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="appointmentProp,iter : ${appointmentProposals}">
      <td th:text="@{'Terminvorschlag '+${iter.index}}"></td>
      <td th:if="${appointmentProp.date1.minute}>9" th:text="@{${appointmentProp.date1.dayOfMonth}+'.'+${appointmentProp.date1.monthValue}+'.'+${appointmentProp.date1.year}+' '+${appointmentProp.date1.hour}+':'+${appointmentProp.date1.minute}}"></td>
      <td th:unless="${appointmentProp.date1.minute}>9" th:text="@{${appointmentProp.date1.dayOfMonth}+'.'+${appointmentProp.date1.monthValue}+'.'+${appointmentProp.date1.year}+' '+${appointmentProp.date1.hour}+':'+ '0' + ${appointmentProp.date1.minute}}"></td>
      <td th:if="${appointmentProp.date2.minute}>9" th:text="@{${appointmentProp.date2.dayOfMonth}+'.'+${appointmentProp.date2.monthValue}+'.'+${appointmentProp.date2.year}+' '+${appointmentProp.date2.hour}+':'+${appointmentProp.date2.minute}}"></td>
      <td th:unless="${appointmentProp.date2.minute}>9" th:text="@{${appointmentProp.date2.dayOfMonth}+'.'+${appointmentProp.date2.monthValue}+'.'+${appointmentProp.date2.year}+' '+${appointmentProp.date2.hour}+':'+ '0' + ${appointmentProp.date2.minute}}"></td>
      <td th:if="${appointmentProp.date3.minute}>9" th:text="@{${appointmentProp.date3.dayOfMonth}+'.'+${appointmentProp.date3.monthValue}+'.'+${appointmentProp.date3.year}+' '+${appointmentProp.date3.hour}+':'+${appointmentProp.date3.minute}}"></td>
      <td th:unless="${appointmentProp.date3.minute}>9" th:text="@{${appointmentProp.date3.dayOfMonth}+'.'+${appointmentProp.date3.monthValue}+'.'+${appointmentProp.date3.year}+' '+${appointmentProp.date3.hour}+':'+ '0' +${appointmentProp.date3.minute}}"></td>
	</tr>
  </tbody>
</table>
      </div>
    </div>
  </div>
</div>

<div th:replace ="Startsite :: bootend"></div>
</body>

</html>